<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto blog | Início</title>
    <link rel="stylesheet" href="../css/articles.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    
    <header>
        <nav id="navbar"></nav>
        <h1>Posts</h1>
    </header>
    
    <section id="posts">
        <div class="post-container">
            <h2>Derrotado no League Of Legends</h2>
            <p>Ontem à noite fui jogar com 7 amigos e foi só paulada.</p>
            <p><small>Postado por Samuel Cabral</small></p>
        </div>
        <hr>
    </section>
    <section id="posts">
        <div class="post-container">
            <h2>Derrotado no League Of Legends</h2>
            <p>Ontem à noite fui jogar com 7 amigos e foi só paulada.</p>
            <p><small>Postado por Samuel Cabral</small></p>
        </div>
        <hr>
    </section>
    <section id="posts">
        <div class="post-container">
            <h2>Derrotado no League Of Legends</h2>
            <p>Ontem à noite fui jogar com 7 amigos e foi só paulada.</p>
            <p><small>Postado por Samuel Cabral</small></p>
        </div>
        <hr>
    </section>

    <section id="new-post">
        <h2>Faça uma nova postagem</h2>
        <form method="POST" action="../php/upload_post.php" enctype="multipart/form-data">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>

            <label for="content">Conteúdo:</label>
            <textarea id="content" name="content" required></textarea>

            <label for="image">Imagem/GIF:</label>
            <input type="file" id="image" name="image" accept="image/*">

            <button type="submit">Postar</button>
        </form>
    </section>

</body>
<script src="../JS/navbar.js"></script>

</html>
