

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css"> <!-- Link para o CSS -->
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Projeto blog | Login</title>
</head>
<body>
    <main>
        <section>
            <h2>Faça seu login</h2>
            <div class="error-message">
                <?php echo $error_message; ?>
            </div>
            <form method="POST" action="">
                <div class="input-container">
                    <label for="email">Digite seu e-mail</label>
                    <input id="email" name="email" type="email" required value="<?php echo htmlspecialchars($email_input); ?>">
                </div>
                
                <div class="input-container">
                    <label for="password">Digite sua senha</label>
                    <input id="password" name="senha" type="password" required>
                </div>
                <button type="submit">Fazer login</button>
                <div class="forgot-password">
                    <a href="forgotPassword.php">Esqueceu a senha?</a>
                </div>
            </form>
            <div class="register-link">
                <a href="register.php">Cadastre-se aqui</a>
            </div>
        </section>
    </main>
    <script src="../JS/navbar.js"></script>
</body>
</html>
