<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <title>Projeto blog | Cadastro</title>
</head>
<body>
    <main>
        <section>
            <h2>Faça seu cadastro</h2>
            <div class="error-message">
                <?php if (!empty($error_message)) { echo $error_message; } ?>
                <?php if (!empty($success_message)) { echo $success_message; } ?>
            </div>
            <form method="POST" action="">
                <div class="input-container">
                    <input id="nome" name="nome" type="text" placeholder=" " required value="<?php echo htmlspecialchars($nome_input); ?>">
                    <label for="nome">Digite seu nome</label>
                </div>

                <div class="input-container">
                    <input id="email" name="email" type="email" placeholder=" " required value="<?php echo htmlspecialchars($email_input); ?>">
                    <label for="email">Digite seu e-mail</label>
                </div>
                
                <div class="input-container">
                    <input id="password" name="senha" type="password" placeholder=" " required value="<?php echo htmlspecialchars($senha_input); ?>">
                    <label for="password">Digite sua senha</label>
                </div>
                <div class="login-link">
                    <a href="index.php">Já possui uma conta? Faça login</a>
                </div>
                <button type="submit">Cadastrar</button>
                
            </form>
        </section>
    </main>
</body>
</html>
